<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="icon" href="images/ice-cream-favicon.jpg">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <main>
        <h1>Thank You for Your Order!</h1>
        <h2>Your ice cream order has been confirmed</h2>
        <h4>Personal Information</h4>
        <p>Name: <%= order.name %></p>
        <p>Email: <%= order.email %></p>

        <h4>Order Details</h4>
        <p>Flavor: <%= order.flavor %></p>
        <p>Cone Type: <%= order.method %></p>
        <p>Toppings: <%= order.toppings.join(", ") %></p>

        <h4>Additional Comments</h4>
        <p><%= order.comment %></p>

        <a href="/">Place another order</a>
    </main>
</body>
</html>